[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "./vendor/django-mode"]
	path = ./vendor/django-mode
	url = git@github.com:gregnewman/django-mode.git
[submodule "./vendor/magit"]
	path = ./vendor/magit
	url = http://git.gitorious.org/magit/mainline.git
[submodule "vendor/themes/twilight"]
	path = vendor/themes/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/django-mode"]
	path = vendor/django-mode
	url = git@github.com:gregnewman/django-mode.git
[submodule "vendor/egg"]
	path = vendor/egg
	url = git://github.com/bogolisk/egg.git
[submodule "vendor/yasnippet-django"]
	path = vendor/yasnippet-django
	url = git@github.com:justinlilly/yasnippet-django.git
[submodule "themes/github"]
	path = themes/github
	url = git://github.com/dudleyf/color-theme-github.git
[submodule "themes/tango2"]
	path = themes/tango2
	url = git://github.com/wfarr/color-theme-tango-2.git
[submodule "themes/irblack"]
	path = themes/irblack
	url = git://github.com/burke/color-theme-ir-black.git
[submodule "themes/vibrant-ink"]
	path = themes/vibrant-ink
	url = git://github.com/mig/color-theme-vibrant-ink.git
[submodule "themes/merbivore"]
	path = themes/merbivore
	url = git://github.com/mig/color-theme-merbivore.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "vendor/grep-o-matic"]
	path = vendor/grep-o-matic
	url = git://github.com/ZungBang/emacs-grep-o-matic.git
[submodule "vendor/far-search"]
	path = vendor/far-search
	url = git://github.com/aemoncannon/far-search-mode.git
[submodule "vendor/confluence"]
	path = vendor/confluence
	url = git://github.com/dpiddy/confluence-el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "themes/brookstream"]
	path = themes/brookstream
	url = git://github.com/justinlilly/brookstream-emacs.git
[submodule "vendor/ectags"]
	path = vendor/ectags
	url = git://repo.or.cz/ectags.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/dpaste-el"]
	path = vendor/dpaste-el
	url = git://github.com/gregnewman/dpaste.el.git
[submodule "vendor/zencoding"]
	path = vendor/zencoding
	url = git://github.com/chrisdone/zencoding.git
[submodule "vendor/espresso"]
	path = vendor/espresso
	url = git://github.com/justinlilly/espresso.el.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "packages/pymacs"]
	path = packages/pymacs
	url = git://pymacs.progiciels-bpi.ca/pymacs
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = http://github.com/emacsmirror/js2-mode.git
