[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "./vendor/django-mode"]
	path = ./vendor/django-mode
	url = git@github.com:gregnewman/django-mode.git
[submodule "./vendor/magit"]
	path = ./vendor/magit
	url = http://git.gitorious.org/magit/mainline.git
[submodule "vendor/themes/twilight"]
	path = vendor/themes/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/django-mode"]
	path = vendor/django-mode
	url = git@github.com:gregnewman/django-mode.git
